h1,h2,h3,h4,h5,h6,
p,blockquote,table,figure,
ul,ol,dl,li,dt,dd {
  margin: 0;
  padding: 0;
}
ul,ol,dl {
  list-style: none;
}
h1,h2,h3,h4,h5,h6 {
  font-feature-settings: "palt";
  font-size: 100%;
  font-weight: normal;
  line-height: 1.25;
}
table {
  border-collapse: collapse;
}
img {
  vertical-align: top;
}
em {
  font-style: normal;
}
button {
  appearance: none;
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
  outline: none;
}
a,button {
  cursor: pointer;
  &[disabled] {
    cursor: default;
  }
}
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 1.6rem;
  cursor: pointer;
  &[disabled] {
    cursor: default;
  }
}
select::-ms-expand {
  display: none;
}
