-
  var _title = ""
  var _sitename = ""
  var _desc = ""
  var _keywords = ""
  var _class = "top"
  var _host = ""
  var _pagePath = ""
  var _permalink = _host+_pagePath
doctype html
html(lang="ja")
  include _partial/meta

  body(class=_class)
    include _partial/analytics
    header.l-header#header
      .l-header__inner

    main.l-main

    footer.l-footer#footer
