doctype html
html
  head
    meta(charset='utf-8')
    title webste dev startkit
    meta(name='description', content='')
    meta(property='og:site_name', content='')
    meta(property='og:title', content='')
    meta(property='og:type', content='website')
    meta(property='og:url', content='')
    meta(property='og:image', content='')
    meta(property='og:description', content='')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet', href='/style/style.css')
    script(src='/script/libs.js')
  body
    header.header
      h1.header__heading webste dev startkit
    main.main
    footer.footer
    script(src='/script/app.js')
