-
  var _title = ""
  var _sitename = ""
  var _desc = ""
  var _keywords = ""
  var _class = "top"
  var _host = ""
  var _pagePath = ""
  var _permalink = _host+_pagePath
doctype html
html(lang="ja")
  include _partial/meta

  body
    include _partial/analytics
    header.Header
      h1 Gulp Web Dev Boilerplate

    main.Main
      .DummyBox(data-inview)
        p ダミーテキスト
      .DummyBox(data-inview)
        p ダミーテキスト

    footer.Footer
