-
  const _pagePath = "/"
  const _permalink = _siteHost+_sitePath+_pagePath
  const _title = ""
  const _class = "top"
  const _cacheBuster = new Date().getTime().toString().substr(0, 9)

doctype html
html(lang="ja")
  include _partial/meta

  body(class=_class)
    include _partial/analytics
    header.Header
      include _partial/header

    main.Main
      .DummyBox#hoge(data-inview)
        p ダミーテキスト1
        a(href="#fuga") 次へ
      .DummyBox#fuga(data-inview)
        p ダミーテキスト2
        a(href="#piyo") 次へ
      .DummyBox#piyo(data-inview)
        p ダミーテキスト3
        a(href="#hoge") 最初へ

    footer.Footer
