-
  const _pagePath = "/"
  const _permalink = _siteHost+_sitePath+_pagePath
  const _title = ""
  const _class = "top"
  const _cacheBuster = new Date().getTime().toString().substr(0, 9)

doctype html
html(lang="ja")
  include _partial/meta

  body(class=_class)
    include _partial/analytics
    header.Header
      h1= _siteName

    main.Main
      .DummyBox(data-inview)
        p ダミーテキスト
      .DummyBox(data-inview)
        p ダミーテキスト

    footer.Footer
