// _base
:root {
  font-size: map-get($sizes, base);
}

html {
  font-family: sans-serif;

  // cmq test
  @include max-screen($screen-desktop) {
    background-color: gold;
  }
  @include max-screen($screen-tablet) {
    background-color: skybule;
  }
  @include max-screen($screen-phone) {
    background-color: tomato;
  }
}

body {
  color: map-get($colors, base);
  font-size: map-get($sizes, medium);
  @include max-screen($screen-phone) {
    font-size: map-get($sizes, small)
  }
}
