//- includes/_header.jade
header(role='banner')
  div.global-header
    nav
      ul.header-nav
        li.header-nav__item
          a.header-nav-link(href='/') HOME
          a.header-nav-link(href='/archive') ARCHIVE
          a.header-nav-link(href='/about') ABOUT
