// vars
$breakpoints: (
  min: 20rem, // 320px
  thin: 23.4375rem, // 375px
  small: 30rem, // 480px
  medium: 48rem, // 768px
  large: 64rem, // 1200px
  huge: 90rem // 1440px
);

$screen-thin: map-get($breakpoints, thin);
$screen-phone: map-get($breakpoints, small);
$screen-tablet: map-get($breakpoints, medium);
$screen-desktop: map-get($breakpoints, large);
$screen-desktop-hd: map-get($breakpoints, huge);

$colors: (
  base: #333
);

$sizes: (
  base: 16px,
  min: 0.625rem, // 10px
  thin: 0.75rem, // 12px
  small: 0.875rem, // 14px
  medium: 1rem,
  large: 1.125rem, // 18px
  huge: 1.25rem, // 20px
  grand: 1.5rem, // 24px
  head: 2rem, // 32px
);
